.cardemail {
    margin-left: auto;
    margin-right: auto;
    --bg: #f7f7f8;
    --hover-bg: #ffe5f4;
    --hover-text: #e50087;
    max-width: 23ch;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.8);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition:
      0.3s cubic-bezier(0.6, 0.4, 0, 1),
      transform 0.15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: black;
  }
  
  .card__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
  }
  
  .cardemail > :not(span) {
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  }
  
  .cardemail > strong {
    display: block;
    font-size: 1.4rem;
    letter-spacing: -0.035em;
  }
  
  .cardemail span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
  }
  
  .cardemail:hover span {
    top: 0;
    font-size: 1.2em;
  }
  
  .cardemail:hover {
    background: var(--hover-bg);
  }
  
  .cardemail:hover > div,
  .cardemail:hover > strong {
    opacity: 0;
  }
  